<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.basecontent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaseContent"
        tools:ignore="AllowBackup">
        <!--  <activity android:name=".p1top9.P1Activity">-->
        <!--  <activity android:name=".p10top21.P10Activity">-->
<!--        <activity android:name=".p22top26.P22Activity">-->
<!--        <activity android:name=".p28.P28Activity">-->
        <activity android:name=".p28.P39Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".p10top21.NotificationActivity" />
    </application>
</manifest>