<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.basecontent">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--    音视频录制权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaseContent"
        tools:ignore="AllowBackup">
        <!--  <activity android:name=".p1top9.P1Activity">-->
        <!--  <activity android:name=".p10top21.P10Activity">-->
        <!--        <activity android:name=".p22top26.P22Activity">-->
        <!--        <activity android:name=".p28.P28Activity">-->
        <!--        默认的activity-->
        <!--        <activity android:name=".p28top43.P39Activity">-->
        <!--        <activity android:name=".p44top52.P44Activity">-->
        <!--        <activity android:name=".p53top62.P53Activity">-->
        <!--        <activity android:name=".p63top70.P63Activity">-->
        <!--        <activity android:name=".p71.P71Activity">-->
        <!--        <activity android:name=".p79top88.P72Activity">-->
        <activity android:name=".p89top97.P89Activity">
            <!--            激活默认activity的意图-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".p89top97.Activity1" />
        <activity android:name=".p10top21.NotificationActivity" />
        <activity android:name=".p44top52.P44Activity2" />
        <activity android:name=".p89top97.MediaRecordActivity" />
        <activity android:name=".p89top97.VideoViewActivity" />
        <activity android:name=".p89top97.SoundPoolActivity" />
    </application>
</manifest>